<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <h2 class="text-center mb-4">Personnes embauchées</h2>
    </div>
    <div class="col-12" *ngIf="personnes">
      <ol class="list-group">
        <li 
          class="list-group-item"
          *ngFor="let personne of personnes"
        >
          <div class="align-item-liste">
            <div class="images-liste">
              <img src="assets/images/{{personne.path|defaultImage}}" class="img-liste" alt="Image de {{personne.first_name}}">
            </div>
            <p>{{personne.first_name + ' ' + personne.last_name}}</p>
            <button class="btn btn-danger btn-debaucher ml-5" (click)="debaucher(personne)">Débaucher</button>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>