.list-group-item {
  cursor: pointer;

  .align-item-liste {
    display: flex;
    align-items: center;

    .images-liste {
      display: inline-block;
      height: 50px;
      width: 50px;
      border-radius: 100px;
      overflow: hidden;
      
      .img-liste {
        width: 100%;
        height: 100%;
      }
    }
    
    p {
      display: inline-block;
      margin-block-end: 0;
      margin: 0 0 0 1em;
      font-weight: 500;
    }
  }
}