<li 
  class="list-group-item" 
  *ngFor="let personne of personnes" 
  (click)="sendOnePersonne(personne)"
>
  <div class="align-item-liste">
    <div class="images-liste">
      <img src="assets/images/{{personne.path|defaultImage}}" class="img-liste" alt="Image de {{personne.first_name}}">
    </div>
    <p>{{personne.first_name + ' ' + personne.last_name}}</p>
  </div>
</li>
