<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Bonjour {{ title }}</h1>
    </div>
  </div>
  <!-- Pour jouer sur des propriétés avec des variables dans le typescript -->
  <div [hidden]="hidden" [style.background-color]="bgColor" class="my-1 p-3">
    <p>Background color : {{bgColor}}</p>
    <p>Hidden : {{hidden}}</p>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-danger my-3" (click)="changeStatus()">{{buttonName}}</button>
    </div>
  </div>
</div>

<app-color></app-color>

<router-outlet></router-outlet>