<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <p [ngStyle]="{
        'background-color' : bgColor,
        'color' : color,
        'font-size' : size,
        'padding' : '1em'
      }">
        style works!
      </p>

      <input 
        type="text" 
        class="form-control my-3" 
        [(ngModel)]="color"
      >

      <input 
        type="number" 
        class="form-control my-3" 
        #sizeInput 
        (change)="changeSize(sizeInput.value)"
      >

      <button class="btn btn-primary" (click)="logginData()">Afficher les datas</button>
    </div>
  </div>
</div>
