div {
  .color {
    display: block;
    margin: auto;
    width: 100%;
    height: 50px;
    border: 1px #565656 solid;
    border-radius: 50px;
  }
  p {
    margin: 0;
    margin-block-end: 0;
  }
}