<div class="container">
  <div class="row align-items-start my-3">
    <div class="col-2" >
      <div class="color" [style.background-color]="color"></div>
    </div>
    <div class="col-10">
      <input #inputColor (change)="changeColor(inputColor)" type="text" class="form-control" placeholder="Color 1">
      <p>La couleur est {{color}}</p>
    </div>
  </div>

  <div class="row align-items-start my-3">
    <div class="col-2">
      <div class="color" [style.background-color]="color2" ></div>
    </div>
    <div class="col-10">
      <input
        [(ngModel)]="color2"
        type="text" 
        class="form-control" 
        placeholder="Color 2"
      >
      <p>La couleur est {{color2}}</p>
    </div>
  </div>
</div>

<!-- La propriété color n'est pas connue dans le component child-a, il faut ajouter au .ts : @Input() childProperty; -->
<app-child-a (sendRequestToData)="processReq($event)" [childProperty]="color"></app-child-a>
