<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 my-5">
      <app-liste
        [personnes]="personnes"
        (personneSelectionnee)="personneSelect($event)"
      ></app-liste>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8 my-5">
      <app-detail
        [personne]="personneSelected"
      ></app-detail>
    </div>
  </div>
</div>

<app-embauche></app-embauche>
