<div class="col-12" *ngIf="personne">
  <div class="card-container">
     <div class="card">
       <div class="img-card">
         <img class="card-img-top" src="assets/images/{{personne.path|defaultImage}}" alt="Card image cap">
       </div>
        <div class="card-body">
          <h5 class="card-title text-center mb-3">{{personne.first_name + ' ' + personne.last_name |titlecase }} | {{personne.age}} ans</h5>
          <h6 class="text-center">Job</h6>
          <p class="card-text text-center">{{personne.job_description}}</p>
          <h6 class="text-center">Présentation</h6>
          <p class="card-text text-center">{{personne.presentation}}</p>
          <button class="btn btn-success btn-block" (click)="embaucher(personne)">Embaucher</button>
        </div>
      </div>
 </div>
</div>
