<ol class="list-group">
  <app-item 
    [personnes]="personnes"
    (onePersonneSelected)="personneSelected($event)"
  ></app-item>
  <!-- <app-item [personnes]="personnes[0]"></app-item>
  <app-item [personnes]="personnes[1]"></app-item> -->
</ol>
