<nav class="navbar navbar-expand-md navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/cv" routerLinkActive="active">CVThèque</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/style" routerLinkActive="active">Style</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/class" routerLinkActive="active">Class</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <app-style
  color="white"
  bgColor="green"
></app-style> -->