<div class="container">
  <div class="row">

    <div 
      class="col-12 my-3"
      [ngClass]="{
        'one': one === true,
        'two': two === true,
        'last': last === true
      }"
    ></div>

    <button 
      (click)="changeColor()"
      class="btn btn-danger btn-block"
    >Change class</button>

  </div>

  <div class="row my-5" appHighlight>
    <div class="col-12"
      [ngClass]="{
        'block-padding' : block === true
      }"
    ></div>
  </div>

  <div class="row my-5">

    <div class="col-6 my-5">
      <ol class="list-group">
        <li class="list-group-item" *ngFor="let number of team">
          {{ number | titlecase }}
        </li>
      </ol>
    </div>

    <div class="col-6 my-5">
      <ol class="list-group">
        <li class="list-group-item" *ngFor="let number of numbers; let i = index">
          <p *ngIf="number % 2 == 0">
            {{ number }} | index : {{ i }} | {{ number % 2 }}
            {{ number % 2 == 0 ? true : false }}
          </p>
        </li>
      </ol>
    </div>

    <div class="col-12">
      <input 
        type="text" 
        class="form-control"
        *ngIf="show"
        appRainbow
      >
      <button class="btn btn-primary btn-block my-3" (click)="show = !show" *ngIf="show">Cacher</button>
      <button class="btn btn-primary btn-block my-3" (click)="show = !show" *ngIf="!show">Montrer</button>
    </div>
  </div>
</div>
