.one {
  background-color: #ad20a2;
  height: 2em;
  border-radius: 5px;
}

.two {
  background-color: #58bb58;
  height: 2em;
  border-radius: 5px;
}

.last {
  background-color: #1e1e7a;
  height: 2em;
  border-radius: 5px;
}

.block-padding {
  height: 5em;
  border-radius: 5px;
}